@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 23, 37, 84; /* Cor azul #172554 */
  --background-end-rgb: 0, 0, 0; /* Cor preta */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 23, 37, 84; /* Cor azul #172554 */
    --background-end-rgb: 0, 0, 0; /* Cor preta */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to top, /* Direção do degradê, de baixo para cima */
      rgb(var(--background-end-rgb)), /* Preto na parte inferior */
      rgb(var(--background-end-rgb)),
      rgb(var(--background-start-rgb)) /* Azul na parte superior */
    );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
